<h2>Please tell me your name :)</h2>

<form action='/named-cat' method="post">
  <input type='text' name='number' placeholder="Number" />
  <input type='text' name='name' placeholder="Name" />
  <input type='submit' value='DO NOT PRESS' />
</form>
